/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

/* == */
.col-3-1 {
	background-color: #A3CDD9;
}

.col-3-2 {
	background-color: orange;
}


/* == */
.col-4 {
	background-color: pink;
}


/* == */
.col-5-1, .col-5-3 {
	background-color: #A3CDD9;
}

.col-5-2 {
	background-color: #FFFCE6;
}


/* == */



/* == */
.col-6 { 
	background-color: #EAF7FF; 
}









/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}

  .col-6-text, .col-6-img {
	flex: 0 0 44%;
  }

  .col-6 { 
		flex: 0 0 28%; 
	}  /* ~3 per row on tablet */

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%;
	}
  
  
  
	.col-2 {
		flex: 0 0 44%;
	}


	/* == */
	.col-3-1 {
		flex: 0 0 20%;
	}

	.col-3-2 {
		flex: 0 0 68%;
	}


	/* == */
	.col-4 { 
		flex: 0 0 92%;
	}

	/* == */
	.col-5-1, .col-5-3 {
		flex: 0 0 20%;
	}

	.col-5-2 {
		flex: 0 0 44%;
	}


	/* == */


	/* == */
	.col-6 { 
		flex: 0 0 16%; 
	}   /* 5 per row on desktop */
	


}

/* @@ Row 6 specific layout: use flex ordering, alignment, and distribution @@ */
.row:nth-of-type(6) {
	display: flex; /* @@ make sure this row is a flex container @@ */
	justify-content: space-between; /* distribute items across the row */
	align-items: center; /* vertically center content inside each item */
	flex-wrap: nowrap; /* prefer a single line; will shrink items if needed */
	gap: 1%;
}

.row:nth-of-type(6) > * {
	flex: 0 0 18%; /* approximately five items across with small gaps */
	margin-left: 0; /* reset any inherited left margins */
	order: 2; /* default order so we can rearrange specific children */
}

.row:nth-of-type(6) > :nth-child(1) { order: 1; }
.row:nth-of-type(6) > :nth-child(2) { order: 2; }
.row:nth-of-type(6) > :nth-child(3) { order: 3; }
.row:nth-of-type(6) > :nth-child(4) { order: 4; }
.row:nth-of-type(6) > :nth-child(5) { order: 5; }

/* @@ Make sure images inside row 6 scale and don't overflow @@ */
.row:nth-of-type(6) img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Responsive fallback: allow wrapping on narrow screens so items remain readable @@ */
@media only screen and (max-width: 479px) {
	.row:nth-of-type(6) {
		flex-wrap: wrap;
		justify-content: center;
		gap: 8px;
	}
	.row:nth-of-type(6) > * {
		flex: 0 0 92%;
	}
}