/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
    width: 100%;
    max-width: 225px; 
    display: block;
    margin: 0 auto;
}

/* Row 2 - all same size */
.row .col-2 img {
    max-width: 180px;
}

/* Row 3 - all same size */
.row .col-3-1 img,
.row .col-3-2 img {
    max-width: 180px;
}

/* Row 5 - all same size */
.row .col-5-1 img,
.row .col-5-2 img,
.row .col-5-3 img {
    max-width: 180px;
    /* height: auto; */
    /* aspect-ratio: 9 / 19.5; */
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

.row6 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-2 {
	background-color: #FFFCE6;
	border-style: solid;
	border-radius: 30px;
}

/* == */
.col-3-1 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-3-2 {
	background-color: orange;
	border-style: solid;
	border-radius: 30px;
}


/* == */
.col-4 {
	background-color: pink;
	border-style: solid;
	border-radius: 30px;
}


/* == */
.col-5-1, .col-5-3 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-5-2 {
	background-color: #FFFCE6;
	border-style: solid;
	border-radius: 30px;
}


/* == */



/* == */
.col-6 { 
	background-color: #EAF7FF; 
	border-style: solid;
	border-radius: 30px;
}

.price {
    font-size: 1.25em;
    font-weight: bold;
    color: #2772B0;
    margin: 0.5em 0;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%;
	}

  /* .col-6-text, .col-6-img {
	flex: 0 0 44%;
  } */

  

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%;
	}
  
  
  
	.col-2 {
		flex: 0 0 44%;
	}


	/* == */
	.col-3-1 {
		flex: 0 0 20%;
	}

	.col-3-2 {
		flex: 0 0 68%;
	}


	/* == */
	.col-4 { 
		flex: 0 0 92%;
	}

	/* == */
	.col-5-1, .col-5-3 {
		flex: 0 0 20%;
	}

	.col-5-2 {
		flex: 0 0 44%;
	}
	
	/* .col-6 { 
		flex: 0 0 10%;
	} */

	.col6 {
		background-color: #EAF7FF; 
		border-style: solid;
		border-radius: 30px;
		flex: 0 0 10%;
		margin-left: 4%;
		margin-right: 4%;
	}
	


}

/* @@ Row 6 specific layout: use flex ordering, alignment, and distribution @@ */

/* -- */

/* -- */
