/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
    width: 100%;
    max-width: 225px; 
    display: block; /* 00 */
    margin: 0 auto; /* 00 */
}

/* Add limits to img sizes for each row to make everything aligned */
/* Row 2 - all same size */
.row .col-2 img {
    max-height: 180px;
	max-width: 180px;
}

/* Row 3 - all same size */
.row .col-3-1 img,
.row .col-3-2 img {
    max-height: 180px;
}

/* Row 5 - all same size */
.row .col-5-1 img,
.row .col-5-2 img,
.row .col-5-3 img {
    max-height: 180px;
    /* height: auto; */
    /* aspect-ratio: 9 / 19.5; */
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* Using margin-left AND margin-right because now using space-between value. Wouldn't look as it should if only margin-left. */
/* Row 6 styling. Instead of adding margin to columns, add to row. */
.row6 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 4%;
	margin-right: 4%;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 4%;
	margin-right: 4%;
}



/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

/* Styled borders for every column */
.col-1 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-2 {
	background-color: #FFFCE6;
	border-style: solid;
	border-radius: 30px;
}

/* == */
.col-3-1 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-3-2 {
	background-color: orange;
	border-style: solid;
	border-radius: 30px;
}


/* == */
.col-4 {
	background-color: pink;
	border-style: solid;
	border-radius: 30px;
}


/* == */
.col-5-1, .col-5-3 {
	background-color: #A3CDD9;
	border-style: solid;
	border-radius: 30px;
}

.col-5-2 {
	background-color: #FFFCE6;
	border-style: solid;
	border-radius: 30px;
}

.col6-1, .col6-2, .col6-3, .col6-4, .col6-5 {
	background-color: #EAF7FF; 
	border-style: solid;
	border-radius: 30px;

	min-width: 150px; /* Adding minimum width to prevent unbalanced shrinking since different text lenghts involved */
	max-height: 350px; /* Added maximum height to prevent unbalanced growing */
}

/* Styling rule for the price of phones */
.price {
    font-size: 1.25em;
    font-weight: bold;
    color: #2772B0;
    margin: 0.5em 0;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1,
  .col-2 {
		flex: 0 0 44%; /* Columns in Row 1 and 2 will take up 44% width of the container */
	}
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%; /* Column in Row 1 will take up 20% width of the container */
	}
  
  
	.col-2 {
		flex: 0 0 44%; /* Column in Row 2 will take up 44% width of the container */
	}

	/* == */
	.col-3-1 {
		flex: 0 0 20%; /* Column 1 in Row 3 will take up 20% width of the container */
	}

	.col-3-2 {
		flex: 0 0 68%; /* Column 2 in Row 3 will take up 68% width of the container */
	}


	/* == */
	.col-4 { 
		flex: 0 0 92%; /* Column in Row 4 will take up 92% width of the container */
	}

	.col-5-1, .col-5-3 {
		flex: 0 0 20%; /* Columns 1 and 3 in Row 5 will take up 20% width of the container */
	}

	.col-5-2 {
		flex: 0 0 44%; /* Column 2 in Row 5 will take up 44% width of the container */
	}

	/* Every img within row 6 */
	.row6 .col6-1 img,
	.row6 .col6-2 img,
	.row6 .col6-3 img,
	.row6 .col6-4 img,
	.row6 .col6-5 img {
		max-height: 100px;
	}

	/* Use of flexbox order property to rank the columns by prices */
	.col6-5 {
		order: 1;
	}
	.col6-4 {
		order: 2;
	}
	.col6-2 {
		order: 3;
	}
	.col6-3 {
		order: 4;
	}
	.col6-1 {
		order: 5;
	}
	


}

